body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;

}

// .container {
//   width: 970px;
//   margin: 0 auto;
//   box-sizing: border-box;
// }

/*header-page*/

.header-page__inner {
  display: flex;
  flex-direction: column;
  width: 302px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header-page__logo {
  display: inline-block;
  margin: 0 40px 20px 0;
}

.header-page__logo img {
  display: block;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.main-nav__link {
  // flex-grow: 2px;
  color: #2f2f30;
  text-decoration: none;
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  font-size: 12px;
}
.main-nav__link a {
  text-decoration: none;
  color: #2f2f30;
}

.main-nav-img {
  position: absolute;
  top: 0px;
  left: -5px;
  height: 23px;
  width: 23px;
}

.link-media:before {
  width: 29px;
  height: 17px;
  background-position: -5px -5px;
}

.gallery {
  height: 270px;
}

.gallery-item {
  width: 100wv;
  background-image: url(../img/slider1.jpg);
  background-size: cover;
  padding: 110px 0 115px 0;
}

.gallery-title {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.gallery .slick-next {
  content: " ";
  right: 5px;
  background-image: url(../img/spritesheet.png);
  width: 15px;
  height: 25px;
  background-position: -44px -5px;
  top: 45%;
}

.gallery .slick-prev {
  width: 15px;
  height: 25px;
  background-position: -69px -5px;
  background-image: url(../img/spritesheet.png);
  left: 5px;
  z-index: 2;
  top: 45%;
}

.slick-dots {
  bottom: 18px;
}

.slick-dots li {
  width: 23%;
  margin: 0 2px;
}

.slick-dots li[aria-hidden="false"] button {
  background: #6f346d;
  height: 8px;
  width: 100%;
}

.slick-dots li[aria-hidden="true"] button {
  background-color: #beff56;
  height: 8px;
  width: 100%;
}



#slick-slide00 li button {
  position: absolute;
}

#slick-slide01 li button {
  top: -10px;
  left: 0;
}

#slick-slide01, #slick-slide02, #slick-slide03, #slick-slide04 {

}

// .tabs {
//   position: relative;
// }

// .tabs li {
//   position: absolute;
//   height: 8px;
//   width: 75px;
//   background-color: #beff56;
// }

// #tab1 {
//   top: -32px;
//   left: -210px;
// }

// .selected {
//   background-color: #6f346d;
// }

.about-title {
  text-align: left;
  font-size: 30px;
  color: #8bbb3f;
}

.about__inner {
  width: 302px;
  margin: 0 auto;
}

.about-item {
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
  margin-bottom: 40px;
  position: relative;
  color: #8bbb3f;
}

.about-item {
  position: relative;
}

.about-img {
  display: inline-block;
  position: absolute;
  width: 44px;
  height: 44px;
  left: -50px;
  top: -10px;
}

.about-text {
  font-size: 12px;
  color: #000;
}

.about-text-item:last-child {
  color: #585858;
}

.underline {
  text-decoration: underline;
}

#yndxMap {
  height: 320px;
  width: 100wv;
}

.footer-page {
  background-color: #6f346d;
}

@media (min-width: 480px) and (max-width: 1279px) {

  .header-page {
    padding: 50px 0 50px 0;
  }

  .main-nav {
    margin-top: 0;
  }

  .header-page__inner {
    width: 425px;
    display: flex;
    flex-direction: row;
  }

  .main-nav {
    width: 160px;
    display: flex;
    flex-direction: column;
  }

  .header-page__logo img {
    height: 110px;
    width: 270px;
  }

  .main-nav__link {
    width: 100%;
    margin-bottom: 35px;
  }

  .main-nav__link:before {
    left: -30px;
    top: 0px;
  }

  .about__inner {
    width: 425px;
  }


  #yndxMap {
    height: 329px;
  }
}


@media (min-width: 1080px) {

  .header-page__inner {
    flex-direction: row;
    width: 970px;
    padding: 35px 0;
  }

  .main-nav {
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 2;
  }

  .main-nav__link {
    width: 33%;
    padding: 35px 0 30px 0;
  }

  .main-nav__link:before {
    left: 20px;
    top: 30px;
  }

  .about__inner {
    width: 970px;
  }


}