body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

// .container {
//   width: 970px;
//   margin: 0 auto;
//   box-sizing: border-box;
// }

/*header-page*/

.header-page__inner {
  display: flex;
  flex-direction: column;
  width: 302px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header-page__logo {
  display: inline-block;
  margin: 0 40px 20px 0;
}

.header-page__logo img {
  display: block;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
}

.main-nav__link {
  // flex-grow: 2px;
  color: #2f2f30;
  text-decoration: none;
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-bottom: 25px;
}

.gallery {
  height: 270px;
}

.about-title {
  text-align: left;
  font-size: 20px;
  color: #8bbb3f;
}

.about__inner {
  width: 302px;
  margin: 0 auto;
}

№yndxMap {
  h
}

@media (min-width: 480px) and (max-width: 1279px) {

  .header-page {
    padding: 50px 0 50px 0;
  }

  .main-nav {
    margin-top: 0;
  }

  .header-page__inner {
    width: 425px;
    display: flex;
    flex-direction: row;
  }

  .main-nav {
    width: 160px;
    display: flex;
    flex-direction: column;
  }

  .header-page__logo img {
    height: 110px;
    width: 270px;
  }

  .main-nav__link {
    width: 100%;
    margin-bottom: 35px;
  }
}